<div class="filter_main_wrapper">
    <h3 class="top_head">
        Filter
    </h3>
    <form [formGroup]="filterForm">
        <div class="content_wrapper">
            <div class="sec_wrap">
                <h3 class="sec_title">Launch year</h3>
                <div class="check_wrapper">
    
                    <mat-checkbox class="example-margin" *ngFor="let year of launch_year | keyvalue; let i = index" [checked]="selected_launch_year === i" (change)="setLaunchYear($event,year.value, i)" >{{year.key}}</mat-checkbox>
                </div>
            </div>
            <div class="sec_wrap">
                <h3 class="sec_title">Successfull Launch</h3>
                <div class="check_wrapper">
                    <mat-checkbox class="example-margin" *ngFor="let toggle1 of success_toggle ; let j = index" [checked]="succefull_launch === j" (change)="setSuccessfullLaunch($event,toggle1.value, j)">{{toggle1.viewValue}}</mat-checkbox>
                </div>
            </div>
            <div class="sec_wrap">
                <h3 class="sec_title">Successfull Landing</h3>
                <div class="check_wrapper">
                    <mat-checkbox class="example-margin" *ngFor="let toggle2 of success_toggle ; let k = index" [checked]="successfull_landing === k" (change)="setSuccessfullLanding($event,toggle2.value, k)">{{toggle2.viewValue}}</mat-checkbox>
                </div>
            </div>
        </div>
    </form>
   
</div>