.card_main_wrapper {
    border-radius: 8px;
    box-shadow: 4px 4px 16px 0 rgb(0 0 0 / 4%);
    padding: 20px;
    margin-bottom: 30px;
    background: #fff;
    .card_img {
        width: 100%;
        height: 150px;
        background: #eee;
        margin: auto;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info_wrap{
        .card_title {
            font-size: 15px;
            font-weight: 500;
            color: blue;
            margin-bottom: 15px;
        }
        .list_wrap {
            margin: 0;
            padding: 0;
            .list {              
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                &:last-of-type{
                    margin-bottom: 0;
                }
                .key {
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
                .value {
                    margin-bottom: 0;
                    color: #666666;
                    font-size: 13px;
                }
            }
        }
    }
}